#background{
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: lavender;
}
#main-box{
  margin:10%;
  padding: 50px;
  width: 80%;
  border: 5px solid blueviolet;
  /* align: center; */
   background-image:linear-gradient(to right, rgb(203, 226, 240) , rgb(223, 189, 126));
  
  border-radius: 50px;
  
}

.top{
  border-radius: 50px;
  padding: 20px;
  background-color: rgb(245, 236, 236);
}

form{
  margin-top:30px;
}

#asd {
  /* box-align: right; */
  margin: 0px;
  margin-left: 0%;
}

.barBg{
  background-image:linear-gradient(to right, rgb(211, 136, 207) , rgb(85, 2, 105));
}
.example-button-row {
  padding-left: 70%;
  /* background-color:#e4e4e4; */
}

mat-form-field {
  /* margin-right: 40px;
  margin-top: 5px; */
  width: 100%;
}

button {
  margin: 10px;
}

.row {
  margin: 0px;
}

