#main-box{
  margin:0px;
  padding: 0px;
}

form{
  margin-top:30px;
}

#asd {
  /* box-align: right; */
  margin: 0px;
  margin-left: 75%;
}

.barBg{
  background-image:linear-gradient(to right, rgb(41, 96, 248) , rgb(30, 4, 78));
}
.example-button-row {
  padding-left: 80%;
  background-color:#e4e4e4;
}

mat-form-field {
  /* margin-right: 40px;
  margin-top: 5px; */
  width: 100%;
}

button {
  margin: 10px;
}

.row {
  margin: 0px;
}

